<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    link(rel="stylesheet", href="/stylesheets/style.css")
    <nav class="nav">
    <div class="navbar">MB</div>
    </nav>
  
    <p class="head">Mind Bud</p>
    <p class="tag">Your friendly mental health buddy</p>
    <iframe class="chat" src="https://webchat.botframework.com/embed/" style="height: 502px; max-height: 502px;"></iframe>
</head>
<body>
    
</body>
</html>
